{% extends 'layouts/master.twig' %}

{% block title %}{{ seotitle }}{% endblock %}

{% block content %}
    <h1>{{ archiveName | title }}</h1>
    {% for post in items %}
        <article>
            <header>
                <h1><a href="/{{ post.slug }}">{{ post.title }}</a></h1>
                <p>Published: <time pubdate="pubdate">{{ post.date | date('F dS Y') }}</time></p>
            </header>
            <div class="excerpt">
                <p>{{ post.excerpt }}&hellip;</p>
            </div> <!-- .excerpt -->
            <footer>
                {% if post.categories | length %}
                    <span class="categories">
                        Filed Under:
                        {% for cat in post.categories %}
                            <a href="/category/{{ cat }}">{{ cat }}</a>{{ loop.last ? '' : ',' }}
                        {% endfor %}
                    </span> <!-- .categories -->
                {% endif %}
                {% if post.tags | length %}
                    <span class="tags">
                        Tagged With:
                        {% for tag in post.tags %}
                            <a href="/tags/{{ tag | lower }}">{{ tag }}</a>{{ loop.last ? '' : ',' }}
                        {% endfor %}
                    </span> <!-- .tags -->
                {% endif %}
            </footer>
        </article>
    {% endfor %}
{% endblock content %}